<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Portfolio</title>
</head>
<body>
	{{> header}}

		<h1>My Projects</h1>
		<ul>
			<li><a target="_blank" href="https://github.com/slk007/node-web-server.git">node-web-server</a></li>
			<li><a target="_blank" href="https://github.com/slk007/notes-nodejs.git">notes-nodejs</a></li>
			<li><a target="_blank" href="https://github.com/slk007/weather-app-nodejs.git">weather-app-nodejs</a></li>
			<li><a target="_blank" href="https://github.com/slk007/ROR_pmusic.git">pmusic: Ruby on Rail</a></li>
			<li><a target="_blank" href="https://github.com/slk007/pmusic-colab.git">pmusic: Android</a></li>
		</ul>

	{{> footer}}
	
</body>
</html>